.mobile-menu {
  width: 100%;
  height: calc(100vh - 80px);
  position: fixed;
  top: $header-height;
  left: 0;
  background-color: $overlay-color;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform $t-time ease-in-out, opacity $t-time linear;

  &.open {
    opacity: 1;
    transform: translateX(0);
    transition: transform $t-time ease-in-out,
      opacity $t-time linear $t-time - 100ms;
  }

  &__container {
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: $mobile-menu-background;
  }

  &__list {
    &--extra {
      max-width: 20rem;
      margin: 0 auto 2rem auto;
    }
    &:not(.mobile-menu__list--extra) {
      li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
