$main-color: #fc5cd4;
$gradient-first-color: #48cbffbe;
$gradient-second-color: #fc5cd4b9;
$gradient: linear-gradient(to left, #48cbff, #fc5cd4);
$background-color: #fafafa;
$text-color: #333;
$light-text-color: rgb(150, 150, 150);


$max-width: 1200px;
