$background-color: #fff;
$text-color: #111;
$unactive-text-color: #b7b7b7;
$main-color: #e53637;
$rate-star-color: #f7941d;
$overlay-color: rgba(0, 0, 0, 0.55);
$white-color: #fff;
$button-hover-color: #ff3a3a;

$mobile-menu-background: #fff;
$header-background: #fff;

$font-stack: "Poppins", Arial, Helvetica, sans-serif;

$header-height: 80px;

$t-time: 300ms;
