.products {
  align-items: flex-start;
  flex-wrap: wrap;
  @include breakpoint-up("medium") {
    .product {
      width: 32%;
    }
  }
  @include breakpoint-up("large") {
    .product {
      width: 25%;
    }
  }
}

.product {
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all $t-time * 2 ease-in-out;

  @include breakpoint-up("medium") {
    text-align: left;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -200rem;
    left: -200rem;
  }

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

    .product__img img {
      transform: scale(1.1);
    }

    @include breakpoint-up("medium") {
      .product__btn {
        opacity: 1;
        transform: translate(0, -50%);
      }
    }
  }

  &__img {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    img {
      width: 10rem;
      height: auto;
      max-height: 100%;
      transition: transform $t-time ease-in-out;
    }
  }

  &__content {
    position: relative;
  }

  &__title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  &__price {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__btn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(4rem, -50%);
    opacity: 0;
    transition: opacity $t-time ease-in-out, transform $t-time ease-in-out,
      color $t-time ease-in-out;
  }
}
