$white: #fff;
$dark: #333;
$gray: #ccc;
$dark-gray: rgb(150, 150, 150);
$light-gray: #eee;
$blue: #0077b6;
$pinkish: #990055;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: $white;
  color: $dark;
}

input {
  display: inline-block;
  outline: none;
  border: 1px solid $gray;

  &[type="text"] {
    width: 100%;
    height: 3.5rem;
    padding-left: 0.5rem;
  }
  &[type="color"] {
    padding: 0.25rem;
    height: 3.5rem;
  }
  &[type="text"],
  &[type="button"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }

  &[type="range"] {
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
  }
  &[type="range"]:focus {
    outline: none;
  }
  &[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.1rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0.15rem;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  &[type="range"]::-webkit-slider-thumb {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background: $blue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.9rem;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
}

.generator {
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;

  &__controlls {
    width: 100%;
    padding: 2rem;
    padding-top: 5.5rem;
    border: 1px solid $gray;
    margin-bottom: 2rem;
    position: relative;

    &-title {
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: capitalize;
      padding: 0.5rem;
      background: $light-gray;
      position: absolute;
      top: 0;
      left: 0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }

  &__controll {
    &-header {
      padding: 1rem;
      background-color: $light-gray;
      border: 1px solid $gray;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      -webkit-transition: background-color 300ms linear;
      -o-transition: background-color 300ms linear;
      transition: background-color 300ms linear;

      &.open {
        background-color: $white;
      }
    }

    &-title {
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
    }

    &-trigger {
      padding: 0.5rem;
      cursor: pointer;
      font-size: 2rem;
      color: $blue;
      pointer-events: none;
    }

    &-body {
      height: 0;
      overflow: hidden;
      //padding: 1rem;
      border: 1px solid $gray;
      border-top: none;
      -webkit-transition: height 300ms ease-in-out, padding 100ms linear 300ms;
      -o-transition: height 300ms ease-in-out, padding 100ms linear 300ms;
      transition: height 300ms ease-in-out, padding 100ms linear 300ms;

      &.open {
        padding: 1rem;
        height: 16rem;
        -webkit-transition: height 300ms ease-in-out;
        -o-transition: height 300ms ease-in-out;
        transition: height 300ms ease-in-out;
      }
    }
  }

  &__inputs {
    margin-bottom: 2rem;
  }

  &__input-group {
    margin-bottom: 1rem;

    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  &__radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    div {
      width: 40%;
      margin-bottom: 1rem;
    }
  }

  &__label {
    font-size: 1.5rem;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 0.25rem;
  }

  &__preview-container {
    background: $gray;
    padding: 3rem;
  }

  &__preview-box {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    height: 14rem;
    background: $white;
    border-radius: 0.5rem;
    border: 2px solid #800000;
  }

  &__value-number {
    color: $blue;
    font-size: 1.8rem;
  }

  &__select {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    border: 1px solid $gray;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    text-transform: capitalize;

    &-option {
      font-size: 1em;
      text-transform: inherit;
    }

    &:focus {
      border-color: $blue;
    }
  }

  &__copy {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: $blue;
    font-size: 2.2rem;
  }

  &__code {
    cursor: pointer;

    &-tip {
      font-size: 1.4rem;
      font-weight: 400;
      background: $dark-gray;
      color: $white;
      position: absolute;
      top: 0;
      right: 4rem;
      padding: 0.25rem 0.75rem;
      transform: translateY(2rem);
      opacity: 0;

      &.clicked {
        opacity: 1;
        transform: translateY(-2rem);
        transition: transform 400ms ease-in-out, opacity 400ms linear;
      }
    }
  }

  &__code-box {
    padding: 2.5rem 2rem;
    background: $light-gray;
    border: 1px solid $gray;
    border-radius: 0.5rem;
    color: $pinkish;
    letter-spacing: 0.1rem;

    span {
      color: $dark;
      font-weight: 500;
      font-size: 1.1em;
    }
  }

  @media screen and (min-width: 768px) {
    &__label {
      font-size: 1.8rem;
    }

    &__controlls {
      &-title {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }

    &__controll {
      &-title {
        font-size: 2rem;
      }
    }
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &__item {
      width: 48%;
    }
  }
}
