$font-stack: "Roboto", Arial, Helvetica, sans-serif;
$bg-color: #9d4edd;
$text-color: #010101;
$light-text-color: #d1d1d1;

$form-bg-color: #fff;
$border-color: #cbd5e0;

$success-color: #35e95f;
$error-color: #ef233c;

$t-time: 300ms;
